.multipanel-cntr{
 width: 90%;
 margin: 5%;
 height: 80%;
 display: flex;
 flex-flow: row nowrap;
 justify-content: space-evenly;
}
.multipanel-window{
    background-color: #3667bf;
    opacity: 2;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    display: flex;
}